<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Company Home Page</title>
</head>
<body>
<h2> Ankit Company Home Page</h2>
<hr>
<p>
    Welcome to the Company Home Page youu!
</p>

<hr>
<!------Display current username and role ---->
<p>
    user: <span sec:authentication="principal.username"> </span>
    <br><br>
    Role(s) : <span sec:authentication="principal.authorities"></span>
</p>

<div sec:authorize="hasRole('MANAGER')">   <!--this code will only show the content to Manager Role-->
<!----------Add a link to point to /leaders ....this is for the managers-------->
<p>
    <a th:href="@{/leaders}">Leadership meeting</a>
    (Only for manager peeps)
</p>
</div>
<hr>

<div sec:authorize="hasRole('ADMIN')"> <!--this code will only show the content to Admin Role-->
      <!------------Add a link to oints to /system ...this is for admins--------->
<p>
    <a th:href="@{/systems}">IT systems  meeting</a>
    (Only for admins peeps)
</p>
</div>


<!---Adding a logout button--->
<form action="#" th:action="@{/logout}" method="POST">
    <input type="submit" value="Logout"/>
</form>
</body>
</html>